{{ ansible_managed | comment }}

# {{ ansible_facts['distribution_release'] }} repositories
deb http://httpredir.debian.org/debian {{ ansible_facts['distribution_release'] }} main contrib non-free non-free-firmware
deb-src http://httpredir.debian.org/debian {{ ansible_facts['distribution_release'] }} main contrib non-free non-free-firmware

# {{ ansible_facts['distribution_release'] }}-security repositories
deb http://security.debian.org/debian-security {{ ansible_facts['distribution_release'] }}-security main contrib non-free non-free-firmware
deb-src http://security.debian.org/debian-security {{ ansible_facts['distribution_release'] }}-security main contrib non-free non-free-firmware

# {{ ansible_facts['distribution_release'] }}-updates repositories
deb http://httpredir.debian.org/debian {{ ansible_facts['distribution_release'] }}-updates main contrib non-free non-free-firmware
deb-src http://httpredir.debian.org/debian {{ ansible_facts['distribution_release'] }}-updates main contrib non-free non-free-firmware

# {{ ansible_facts['distribution_release'] }}-backports repositories
deb http://deb.debian.org/debian {{ ansible_facts['distribution_release'] }}-backports main contrib non-free-firmware
deb-src http://deb.debian.org/debian {{ ansible_facts['distribution_release'] }}-backports main contrib non-free-firmware