# File managed by Ansible
# Manual changes will be overwritten
[Resolve]
DNS={{ common_dns_servers | join(' ') }}
FallbackDNS={{ common_fallback_dns_servers | join(' ') }}
DNSSEC=allow-downgrade
DNSOverTLS=opportunistic
Cache=no-negative
DNSStubListener=yes
ReadEtcHosts=yes
