# File managed by Ansible
# Manual changes will be overwritten
[Resolve]
DNS={{ dns_servers|join(' ') }}
FallbackDNS={{ fallback_dns_servers|join(' ') }}
DNSSEC=allow-downgrade
DNSOverTLS=opportunistic
Cache=no-negative
DNSStubListener=yes
ReadEtcHosts=yes
