{{ ansible_managed | comment }}
AcceptEnv LANG LC_*
AllowAgentForwarding no
# AllowGroups ssh
Banner /etc/ssh/sshd-banner
KbdInteractiveAuthentication yes
ListenAddress 0.0.0.0
PasswordAuthentication no
PermitEmptyPasswords no
PermitRootLogin no
Port 22
PrintMotd no
UsePAM yes
X11Forwarding no
Subsystem sftp /usr/lib/openssh/sftp-server
{% for sshd_match in common_sshd_matches %}

Match {% if 'match_user' in sshd_match %}User {{ sshd_match.match_user }} {% endif %}Address {{ sshd_match.match_addresses | join(',') }}
{% if 'permitRootLogin' in sshd_match%}
  PermitRootLogin yes
{% endif %}
  PubkeyAuthentication yes
{% endfor %}