# File managed by Ansible
# Manual changes will be overwritten
AcceptEnv LANG LC_*
AllowAgentForwarding no
# AllowGroups ssh
Banner /etc/ssh/sshd-banner
KbdInteractiveAuthentication yes
ListenAddress 0.0.0.0
PasswordAuthentication no
PermitEmptyPasswords no
PermitRootLogin no
Port 22
PrintMotd no
UsePAM yes
X11Forwarding no
Subsystem sftp /usr/lib/openssh/sftp-server
